/* Google Font */
* {
  font-family: 'M PLUS 1p', sans-serif;
}

/* Jumbotron CSS */
.jumbo {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff !important;
}
@media (min-width: 768px) {
  .jumbo {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbo p:last-child {
  margin-bottom: 0;
}

.jumbo h1 {
  font-weight: 300;
}

.hilpic {
  /* https://bennettfeely.com/clippy/ */
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

/* .jumbotron .container {
  max-width: 40rem;
} */
